.tooltip{
  position: absolute;			
  text-align: center;			
  width: 150px;					
  height: 50px;					
  padding: 2px;				
  font: 25px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}


 /* The Modal (background) */
 .modal{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(150,0,0); /* Fallback color */
  background-color: rgba(150,0,0,0.4); /* Black w/ opacity */
  display:inline;
}
